<div id="<%= dom_id special_offer %>">
  <p>
    <strong>Description:</strong>
    <%= special_offer.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= special_offer.start_date.strftime('%b %e, %Y')%>
  </p>

  <p>
    <strong>End date:</strong>
    <%= special_offer.end_date.strftime('%b %e, %Y') %>
  </p>
</div>
