<h1>Editing special offer</h1>

<%= render "form", special_offer: @special_offer %>

<br>

<div>
  <%= link_to "Show this special offer", @special_offer %> |
  <%= link_to "Back to special offers", special_offers_path %>
</div>
