<div id="<%= dom_id notification %>">
  <p>
    <strong>Body:</strong>
    <%= notification.body %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= notification.read %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

</div>
