<section class="hero is-medium">
  <div class="hero-body">
    <p class="title">
      Start Promoting your lounge and events!
    </p>
    <%= link_to 'Subscribe', '#', class: "button is-primary is-light" %>
  </div>
</section>