<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="has-text-weight-bold pb-3 is-size-3">Editing lounge</h1>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render "form", lounge: @lounge %>
    </div>
  </div>
</div>