<div class="pt-5 mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="has-text-weight-bold pb-3 is-size-3">Editing lounge</h1>
      <%= render "form", lounge: @lounge %>
    </div>
  </div>
</div>