<p style="color: green"><%= notice %></p>

<h1>Lounges</h1>

<div id="lounges">
  <% @lounges.each do |lounge| %>
    <%= render lounge %>
    <p>
      <%= link_to "Show this lounge", lounge %>
    </p>
  <% end %>
</div>

<%= link_to "New lounge", new_lounge_path %>
