<div class="pt-5 mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render "form", event: @event %>

      <%= link_to "Back to Events", lounge_events_path(@lounge) %>
    </div>
  </div>
</div>