<div class="pt-5 mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p style="color: green"><%= notice %></p>

      <%= render @event %>
      <%= link_to "Back to Events", lounge_events_path(@event.lounge) %> |
      <%= link_to "RSVP Here", new_event_rsvp_path(@event), class: "button is-primary is-light" %>
    </div>
  </div>
</div>