<h1>Editing lounge membership</h1>

<%= render "form", lounge_membership: @lounge_membership %>

<br>

<div>
  <%= link_to "Show this lounge membership", @lounge_membership %> |
  <%= link_to "Back to lounge memberships", lounge_memberships_path %>
</div>
