<p style="color: green"><%= notice %></p>

<h1>Lounge memberships</h1>

<div id="lounge_memberships">
  <% @lounge_memberships.each do |lounge_membership| %>
    <%= render lounge_membership %>
    <p>
      <%= link_to "Show this lounge membership", lounge_membership %>
    </p>
  <% end %>
</div>

<%= link_to "New lounge membership", new_lounge_membership_path %>
