<section id="portfolio-details" class="portfolio-details" style="padding-top: 220px">
  <div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Thank you for subscribing to Herf!</h1>
        <p>Description: <%= @line_items.first.description %></p>
        <p>Your total: $<%= @session.amount_total.to_f / 100 %> USD</p>
      </div>
    </div>
  </div>
</section>