<h1>NotifyFollowers#notify_followers</h1>

<%= @event.lounge.name %> invites you to <%= @event.name %> !

<p>
  <%= @greeting %>, find me in app/views/notify_followers_mailer/notify_followers.html.erb
</p>
